#root {
  width: 100% !important;
  max-width: none !important; 
  margin: 0 !important;
  padding: 0 !important; 
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px;
  width: 100%;
}
/* App.css o el archivo donde tengas tus estilos */

.carrito-page {
  max-width: 900px;  /* Controla que no se vea tan grande */
  margin: 100px auto; /* Baja el contenido para que el Navbar no lo tape */
  padding: 20px;
  background: white;
  border-radius: 12px;
}

.carrito-item img {
  width: 80px;
  height: 80px;
  object-fit: cover; /* Evita que la imagen se deforme */
  border-radius: 8px;
}